<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ModelPath" value="D:\wwwroot\SOA\CtripSOAHelloWorldDemo\Libs\SOA_Model" />
    <add key="SimpleFunctionXSD_Tpl_FullName" value="D:\VCRoot\VS相关\VS插件\MyVsAddIn\RazorTplTest\simple_function_xsd_tpl.cshtml" />
    <add key="CtripXSD_Tpl_FullName" value="D:\VCRoot\VS相关\VS插件\MyVsAddIn\RazorTplTest\ctrip_xsd_tpl.cshtml" />
    <add key="OutPutXSDFullName" value="D:\xsd.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>