<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ModelFath" value="D:\wwwroot\SOA\CtripSOAHelloWorldDemo\Libs\SOA_Model"/>
    <add key="SimpleFunctionXSD_Tpl_FullName" value="D:\VCRoot\VS相关\VS插件\MyVsAddIn\RazorTplTest\simple_function_xsd_tpl.cshtml" />
    <add key="CtripXSD_Tpl_FullName" value="D:\VCRoot\VS相关\VS插件\MyVsAddIn\RazorTplTest\ctrip_xsd_tpl.cshtml" />
  </appSettings>
</configuration>